* {
    font-family: "Lato" , sans-serif;
}

.meet-the-team-section {
    background-repeat: no-repeat;

    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/banner1.png');
    
}

.team-div {
    
}

.nav-open-button:hover ~ nav{
    display: flex !important;
}

.nav-close-button:hover nav {
    display: hidden !important; 
}